
{% extends "parts/base.html" %}
{% load static %}
{% block title %}project_details{%endblock title%}
{%block css%}
<link rel="stylesheet" href="{% static "css/dept.css" %}">
{%endblock css%}
{% block content %}

<div class="p-3 bg-warning text-center w-100 h-100">
    <h2 class="m-auto w-50">Project Details </h2>
    <form method="post" class='form-control w-50 m-auto text-center bg-light p-3'>
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn btn-l btn-primary w-50 m-4">Submit</button>
    </form>

    <div class="mt-4">
        <a href="{% url 'page1' %}" class="btn btn-secondary w-25 m-2">Add Employee</a>
        <a href="{% url 'page3' %}" class="btn btn-secondary w-25 m-2">Add department</a>
    </div>
</div>
    <script src="{% static "js/project.js" %}"></script>
{% endblock content %}